
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3rem;
}

ul.nav-bar {
    display: flex;
    flex-direction: row;
}

li.nav-item {
    list-style: none;
    padding-left: 2rem;
    padding-right: 2rem;
}

div.logo {
    margin-left: 1rem;
    line-height: 3rem;
}

div.user-details {
    width: 10vw;
    margin-right: 1rem;
    background-color: red;
}

div.user-dropdown {
    position: relative;
    top: 50px;
    left: -50px;
    display: none;
}

